# Ivy League Performances 

This notebook pulls data from [DirectAthletics](http://directathletics.com) to get the top performances for each athlete and simulates a conference championship using athletes' best marks from the current and/or previous years. 

**Import dependencies**

In [1]:
import os
from direct_athletics import *
from team_performances import *

## Get Best Performances
For each athlete on each team we get the best performances for that athlete. (This will take several minutes, as the program must fetch data from each individual athletes performance page on [Direct Athletics](https://directathletics).)

In [2]:
initial_team_id = 1166 # Havard is the first Ivy league team in DA database

# Get the team ids of the 8 Ivy League teams
team_ids = range(initial_team_id,initial_team_id+(2*8),2)

# Get top performances for each athlete on each team (uncomment the next line to get the performance data)
if not os.path.isfile('team_performances.json'):
    top_performances = get_team_performances(team_ids)
    save_performances(top_performances)

top_performances = open_performances('team_performances.json')

top_marks = get_top_marks(top_performances, limit=15)

Could not process information on Pitt_Thomas from Penn.

## Indoor Heps Projection

In [3]:
indoor_heps_url = 'https://www.directathletics.com/results/track/38312.html'
events = get_meet_events(indoor_heps_url)
teams = top_performances.keys()

team_scores = get_team_scores(teams, events, top_marks)
team_scores

,Brown,Columbia,Cornell,Dartmouth,Harvard,Penn,Princeton,Yale
*Total*,88,50,112,50,57,98,133,32
"1,000m",8,17,0,0,0,0,6,0
1Mile,0,8,0,11,0,10,0,2
200m,8,0,14,0,2,0,7,0
"3,000m",0,2,0,14,0,10,0,5
"4,400ydDistanceMedley",0,0,0,8,0,12,10,1
400m,8,0,10,0,0,1,2,10
4x440ydRelay,20,0,0,1,0,0,10,0
4x880ydRelay,12,18,0,0,0,0,1,0
"5,000m",0,2,1,4,6,10,0,8
500m,9,2,6,0,0,10,4,0
60m,0,0,1,0,10,0,20,0
60mH,0,0,16,1,0,4,8,2
800m,0,1,10,0,8,4,8,0
Heptathlon,10,0,1,2,0,12,6,0
HighJump,0,0,13,4,0,14,0,0
LongJump,0,0,16,1,0,10,4,0
PoleVault,0,0,10,2,1,0,14,4
ShotPut,6,0,0,0,6,0,19,0
TripleJump,1,0,4,2,18,0,6,0
WeightThrow,6,0,10,0,6,1,8,0

### Sprints

In [6]:
top_marks['60m']

         Time/Mark               Athlete     School
0  00:00:06.750000       Johnson_Malcolm    Harvard
1  00:00:06.790000        Volker_Charles  Princeton
2  00:00:06.820000      Akosa_Carrington  Princeton
3  00:00:06.840000            Nelson_Dre  Princeton
4  00:00:06.850000            Hill_John   Princeton
5  00:00:06.880000       Paulino_Brailin    Cornell
6  00:00:06.880000         Menchaca_Zach    Cornell
7  00:00:06.910000            Hynes_Ryan    Cornell
8  00:00:06.920000          Browne_Bryan   Columbia
9  00:00:06.920000            Uwaifo_Efe    Harvard
10 00:00:06.930000       Billington_Josh  Princeton
11 00:00:06.930000           Weigel_Ryan    Cornell
12 00:00:06.940000  Alexandre_Marc-Andre       Yale
13 00:00:06.990000            Kelly_Ryan      Brown
14 00:00:06.990000           Scinto_Jake  Princeton

In [7]:
top_marks['200m']

         Time/Mark               Athlete     School
0  00:00:21.130000          Gibson_Larry    Cornell
1  00:00:21.290000            Kelly_Ryan      Brown
2  00:00:21.340000         McCord_Daniel  Princeton
3  00:00:21.480000       Paulino_Brailin    Cornell
4  00:00:21.530000         Hurst_Matthew    Harvard
5  00:00:21.540000      Akosa_Carrington  Princeton
6  00:00:21.620000       Johnson_Malcolm    Harvard
7  00:00:21.630000         Menchaca_Zach    Cornell
8  00:00:21.640000  Alexandre_Marc-Andre       Yale
9  00:00:21.660000       Albertson_Brent  Princeton
10 00:00:21.710000       Billington_Josh  Princeton
11 00:00:21.760000    Oyewole_Oluwatosin      Brown
12 00:00:21.780000         Lartigue_Noah   Columbia
13 00:00:21.820000           Pfaff_Brian      Brown
14 00:00:21.870000       Moore_Alexander    Harvard

In [8]:
top_marks['400m']

         Time/Mark               Athlete     School
0  00:00:46.830000  Alexandre_Marc-Andre       Yale
1  00:00:47.680000            Kelly_Ryan      Brown
2  00:00:47.880000            Attah_Tobe    Cornell
3  00:00:47.890000          Gibson_Larry    Cornell
4  00:00:47.920000            Mennin_Ray  Princeton
5         00:00:48          Wiseman_Jeff       Penn
6  00:00:48.010000        Emrich_Zachery      Brown
7  00:00:48.310000         Smith_Michael    Cornell
8  00:00:48.370000         Hurst_Matthew    Harvard
9  00:00:48.530000       Freeman_Joshua   Princeton
10 00:00:48.530000      Heckendorn_James    Harvard
11 00:00:48.610000         McCord_Daniel  Princeton
12 00:00:48.760000        Calvin_Yelnats   Columbia
13 00:00:48.810000         Ostrowski_Ben      Brown
14 00:00:48.870000        Plante_Zachary  Dartmouth

### Hurdles

In [9]:
top_marks['60mH']

         Time/Mark             Athlete     School
0  00:00:07.880000        Hairston_Max    Cornell
1  00:00:07.970000       Caldwell_Greg  Princeton
2  00:00:08.120000     Curtis_Wynndham    Cornell
3  00:00:08.120000         Bowers_Ben        Penn
4  00:00:08.150000        Gomes_Paedyn       Yale
5  00:00:08.160000       Eschholz_Alec  Dartmouth
6  00:00:08.180000          Hebert_Jay    Harvard
7  00:00:08.180000           Frye_Alex  Dartmouth
8  00:00:08.180000         Colello_Ben  Dartmouth
9  00:00:08.190000     Jamerson_Austin    Cornell
10 00:00:08.210000         Love_Justin    Cornell
11 00:00:08.220000        Lyons_Austin    Cornell
12 00:00:08.300000  Garzia_Christopher      Brown
13 00:00:08.320000         Katz_Daniel  Dartmouth
14 00:00:08.320000      Johnson_Parker  Dartmouth

### Horizontal Jumps

In [10]:
top_marks['LongJump']

    Time/Mark                  Athlete     School
0        7.52              Pitt_Thomas       Penn
1        7.42              Love_Justin    Cornell
2        7.41               Hynes_Ryan    Cornell
3        7.39              Scinto_Jake  Princeton
4        7.35           Rodriguez_Alex    Cornell
5        7.30            Robinson_Nico  Dartmouth
6        7.27             Leeper_Greg   Princeton
7        7.23            Muggler_Corey  Dartmouth
8        7.21  Mason Rodriguez_Malcolm    Harvard
9        7.19          Jamerson_Austin    Cornell
10       7.13              Idah_Okuoma      Brown
11       7.13              Jones_Nkosi      Brown
12       7.10            Kreglow_Logan    Cornell
13       7.09               Uwaifo_Efe    Harvard
14       7.07              Nedd_Kelsey    Cornell

In [11]:
top_marks['TripleJump']

    Time/Mark                  Athlete     School
0       15.88               Uwaifo_Efe    Harvard
1       15.71  Mason Rodriguez_Malcolm    Harvard
2       15.44            Russell_Lane   Princeton
3       15.19            Plummer_Bobby    Cornell
4       15.16            Muggler_Corey  Dartmouth
5       15.14           Alarcon_Taylor      Brown
6       14.98            Palmer_Jordan       Penn
7       14.81              Enkler_John    Cornell
8       14.81              Scinto_Jake  Princeton
9       14.79        Griffin_Chancelor   Columbia
10      14.69        Amokwandoh_Stefan  Princeton
11      14.62          Airewele_Oseoba    Cornell
12      14.56            Donawa_Justin  Dartmouth
13      14.48               Katz_Jason      Brown
14      14.46              Jones_Nkosi      Brown